<div class="social-links">
    {% if site.github_username %}
    <a href="https://www.github.com/{{ site.github_username }}" class="fab fa-github"></a>
    {% endif %}
    {% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}" class="fab fa-facebook"></a>
    {% endif %}
    {% if site.x_username %}
    <a href="https://www.x.com/{{ site.x_username }}" class="fab fa-x-twitter"></a>
    {% endif %}
    {% if site.instagram_username %}
    <a href="https://www.instagram.com/{{ site.instagram_username }}" class="fab fa-instagram"></a>
    {% endif %}
    {% if site.tiktok_username %}
    <a href="https://www.tiktok.com/@{{ site.instagram_username }}" class="fab fa-tiktok"></a>
    {% endif %}
    {% if site.pinterest_username %}
    <a href="https://www.pinterest.com/{{ site.pinterest_username }}" class="fab fa-pinterest"></a>
    {% endif %}
    {% if site.snapchat_username %}
    <a href="https://www.snapchat.com/@{{ site.snapchat_username }}" class="fab fa-snapchat"></a>
    {% endif %}
    {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="fab fa-linkedin"></a>
    {% endif %}
    {% if site.reddit_username %}
    <a href="https://www.reddit.com/r/{{ site.reddit_username }}" class="fab fa-reddit"></a>
    {% endif %}
</div>
